<%= stylesheet_link_tag 'portfolio' %>
<%= javascript_include_tag 'portfolio' %>

<section id="portfolio">
  <div class='center-box'>
    <% if @gallery.images.attached? %>
      <div class="owl-carousel owl-theme">
        <% @gallery.images.each_slice(5).with_index do |slice, index| %>
          <div class="gallery-grid row flex-row-reverse">
            <span class='col-lg-4'></span>
            <% slice.each do |photo| %>
              <div class="slice-img col-lg-4 col-md col-sm">
                <%= image_tag photo, class: 'portfolio-image', alt: 'Foto da galeria' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      
      <a href="/gerenciar_imagens">Botão temporário - adicione fotos aqui!</a>

    <% end %>
    <div class='raposa'>
      <%= image_tag 'raposa', alt: 'Foto da galeria' %>
    </div>
  </div>
</section>